.card {
	margin: auto;
	max-width: 800px;
	background-color: rgb(254, 255, 255);
	border-radius: 15px;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(20px); 
	opacity: 0.9;
	padding: 15px 40px;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	margin-bottom: 50px;
	margin-top: 50px;

}

body, h1, h2, h3, h4, h5, p, a {
    font-family: 'Poppins', sans-serif;
}


.containerForm {
	margin-top: 50px;
}

#fileProfilePicLabel.form-control {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#fileLogoLabel.form-control {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#fileLogoLabelP.form-control {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#fileProfilePicLabelS.form-control {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-outline-dark {
	border-radius: 20px;
}

.btn-custom2 {
	background-color: black; 
	color: white;
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 0.9em;
	transition: all 0.3s;
	height: 38px;
	width: 210px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-custom2:hover {
	background-color: #FF4500; 
	color: white;
}

.btn-custom {
	background-color: black; 
	color: white;
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 0.9em;
	transition: all 0.3s;
	height: 38px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-custom:hover {
	background-color: #FF4500; 
	color: white;
}

.btn-customUpdate {
	background-color: black; 
	color: white;
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 0.9em;
	transition: all 0.3s;
	height: 38px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-customUpdate:hover {
	background-color: #170984; 
	color: white;
}

.btn-customDelete {
	background-color: black; 
	color: white;
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 0.9em;
	transition: all 0.3s;
	height: 38px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-customDelete:hover {
	background-color: #A71D00;
	color: white;
}

.btn-customUpload {
	background-color: black;
	color: white;
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 0.9em;
	transition: all 0.3s;
	height: 38px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-customUpload:hover {
	background-color: #033170;
	color: white;
}

.btn-custom-signup {
	width: 200px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3em;
	position: relative;
	overflow: hidden;
	
}

.btn-custom-signup:hover {
	background-color: #035b0f; 
	color: white;
}

.success-message {
	color: orange;
	font-style: italic;
}

.input-group {
	display: flex;
}

.form-control {
    border-radius: 20px;
    border: 3px solid #ccc;  
}

.no-wrap {
	white-space: nowrap;
}

.flex-form-group {
	display: flex;
	align-items: center;
}

.flex-form-group>h:outputLabel {
	margin-right: 10px; 
}

.btn-custom-signup span {
	margin-right: 10px; 
}

.arrow-right {
	display: inline-block;
	transition: transform 0.2s ease-out;
	position: relative; 
	left: 0; 
}

.btn-custom-signup:hover .arrow-right {
	transform: translateX(5px);
	
}

.btn-custom-signup:active .arrow-right {
	transform: translateX(10px);
}