@charset "ISO-8859-1";
.card-styling {
    position: relative;
    border-radius: 8px;
    transition: 1000ms all;
    transform-origin: center left;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    outline: 1px solid var(--background-border);
}

.card-styling:hover {
    cursor: pointer;
    transform: scale(1.15);
}