body, h1, h2, h3, h4, h5, p, a {
    font-family: 'Poppins', sans-serif;
}

.card, .card2 {
    margin: auto;
    max-width: 1500px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    opacity: 1;
    padding: 30px 40px;
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-bottom: 30px;
}

.card2 {
    max-width: 2000px;
    padding: 30px 20px;
}

.containerForm {
    margin-top: 50px;
}

.container-fluid {
    padding-left: 2%;
    padding-right: 2%;
}

.clickable-card, .clickable-card2, .clickable-card3  {
	color: #ffffff;
	background-color: #374565;
    cursor: pointer;
    padding: 20px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: flex-start;
    height: 300px !important;
}

.clickable-card2 {
	background-color: B7D6FF;

}

.clickable-card3 {
	background-color: B7D6FF;

}

.clickable-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
    .col-md-4 {
        margin-bottom: 30px;
    }
}

.clickable-card h4 {
    margin-bottom: 0;
}

.btn-outline-dark {
    border-radius: 20px;
}

/* Combining common styles for btn-custom* */
.btn-custom, .btn-custom1, .btn-custom2, .btn-custom3 {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 0.9em;
    transition: all 0.3s;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-custom:hover,
.btn-custom1:hover {
    background-color: #000b73;
}

.btn-custom2:hover {
    background-color: #17330d;
}

.btn-custom3:hover {
    background-color: #730e18;
}

.btn-custom {
    width: 100px;
}

.btn-custom1, .btn-custom2, .btn-custom3 {
    width: 210px;
}

.btn-primary {
    background-color: rgb(22, 67, 89);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
    background-color: #8e5e23;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    outline: none;
}

.form-control {
    border-radius: 20px;
    border: 3px solid #ccc;
    
}.centered-content {
    display: flex;
    justify-content: center;
  
}

.spaced-btn {
    margin-right: 10px;  /* Adjust the value as needed */
}


.badge-primary {
    background-color: rgb(22, 67, 89) !important;
    font-size: 1rem;      
    padding: 10px 15px;    
    border-radius: 15px;
}
.search-input {
    border-radius: 15px; 
    padding: 5px 10px; 
    margin-right: 15px; 
    }




