html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100%;
	font-family: Arial, sans-serif;
}


.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	background-color: inherit;
	margin: 0;
	padding: 14px 16px;
}



 /* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}*/


.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.navbar .dropdown-content a {
    /* Override user agent styles */
    float: none !important;
    /* Other styles remain the same */
}
.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}


#purchase-container-parent {
width:100%;
position: relative;
}


#purchase-pic-child{
	position:absolute;
	top: 50%;
  left: 50%;
}




.package-details {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	padding: 20px;
	background-color: #f8f9fa;
}

.package-header h1, .package-header h2 {
	margin-bottom: 30px;
}

.package-card {
	border-radius: 20px;
	border: none;
	overflow: hidden;
	margin-bottom: 10px;
}

.package-card img {
	border-radius: 20px;
	display: block;
	margin: 0 auto;
	max-width: 80%;
	margin-bottom: 5px;
}

.package-text {
	padding: 1em 2em;
	font-size: 1.2em;
}

.package-text p {
	margin-bottom: 1em;
}

.package-text strong {
	font-size: 1.1em;
}

