html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100%;
	font-family: Arial, sans-serif;
}

.navbar {
	overflow: hidden;
	background-color: #333;
}

.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	background-color: inherit;
	margin: 0;
	padding: 14px 16px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #ddd;
	color: black;
}

 /* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}*/
.navbar .dropdown-content {
    /* Override user agent styles */
    display: none !important;
    /* Other styles remain the same */
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.navbar .dropdown-content a {
    /* Override user agent styles */
    float: none !important;
    /* Other styles remain the same */
}
.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}


#purchase-container-parent {
width:100%;
position: relative;
}


#purchase-pic-child{
	position:absolute;
	top: 50%;
  left: 50%;
}


/* Styling for the footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

/* Styling for social media icons */
.social-icons {
  font-size: 24px;
}

.social-icon {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* Adjust individual icon colors on hover */
.social-icon:hover {
  color: #ddd;
}
.centered-content {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin-top: 100px;  /* Adjust this value as per your requirement */
    margin-left: auto;
    margin-right: auto;
}



